input{
	twitter {
	    consumer_key => "XtxB4xHU849eTxgXoCneNLEDA"
	    consumer_secret => "JV09iVI7Gja4KXD2veRW0e5RQcFMaNV53tzREOGAKR7K6MQ9dL"
	    oauth_token => "782730606-u4Fdhip7095h8KLLPWWJWvRoMq82eMAMZUul6CVZ"
	    oauth_token_secret => "rZ7tKffuYAv2t60zs1SH9sF1INCBAYOUeP7pcNdBoAbdf"
	    keywords => ["k", "b"]
	    full_tweet => true
	}
}
output{
	elasticsearch{
	    index => "twitter"
	}
	file{
		codec=>"json_lines"
		path =>["~/Documents/data.json"]
	
	}
}
